<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">


    <title>Blogger | Welcome to the Blogger website!</title>
</head>

<body>
    <!-- tailblock header -->

    <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap flex-col px-5 py-3 md:flex-row items-center justify-between border-b-2 border-indigo-500">
            <a class="flex title-font font-medium items-center text-white md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 322.42 322.42"
                    class="w-10 h-10" xml:space="preserve">
                    <path style="fill:rgba(99,102,241,1);"
                        d="M289.73,161.21c19.94-16.29,32.69-41.06,32.69-68.75c0-48.94-39.82-88.75-88.75-88.75h-72.46v40
		h32.46c26.88,0,48.75,21.87,48.75,48.75s-21.87,48.75-48.75,48.75h-32.46v40h32.46c26.88,0,48.75,21.87,48.75,48.75
		s-21.87,48.75-48.75,48.75h-32.46v40h72.46c48.93,0,88.75-39.81,88.75-88.75C322.42,202.27,309.67,177.5,289.73,161.21z" />
                    <polygon style="fill:rgb(121, 123, 235);" points="120,278.71 120,181.21 161.21,181.21 161.21,141.21 120,141.21 120,43.71 161.21,43.71 
        161.21,3.71 0,3.71 0,43.71 40,43.71 40,278.71 0,278.71 0,318.71 161.21,318.71 161.21,278.71 	" />
                </svg>
              

                <span class="ml-1 text-xl">logger</span>
            </a>
            <p class="font-mono text-lg text-gray-200">
                Welcome to Blogger! Read Blogs, Write Blogs and Edit Blogs.
            </p>
            <a href="/articles/new">
                <button
                    class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-indigo-500 hover:text-gray-200 rounded text-base md:mt-0">New
                    Blog
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button>
            </a>
        </div>
    </header>

    <!-- tailblock header end -->

    <!-- tailblock front page -->

    <section style="min-height: 85.7vh;" class="text-gray-400 bg-gray-900 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto flex justify-center align-center">
            <h1>No blogs to show</h1>
        </div>
    </section>

    <!-- tailblock front page end -->

    <!-- tailbloc footer -->

    <footer>
        <div class="bg-gray-800 bg-opacity-75">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-400 text-sm text-center sm:text-left">© 2020 Blogger —
                    <a href="https://www.linkedin.com/in/anas-shaikh-06581b153/" class="text-gray-500 ml-1"
                        rel="noopener noreferrer" target="_blank">@anasshaikh</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    <a class="text-gray-400">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-400">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-400">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-400">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
    </footer>

    <!-- tailbloc footer end-->

</body>

</html>